.contactform{
    margin: auto;
    text-align: center;
    backdrop-filter: blur(2px);
    width: 95%;
}

.form-label{
    font-size: 30px;
    font-family: Calling-Heart;
    text-shadow: black 1px 1px 1px;
    color: white;
}

.form-control{
    font-family: Crayon;
    width: 90%;
    background: none;
    border: solid #8cd6e8 2px;
    border-radius: 25px;
    padding: 5%;
    font-size: 20px;
    color: white;
    text-shadow: black 1px 1px 3px;
    background-color: rgba(0, 0, 0, 0.397);
}

.form-control:focus{
    outline: 0;
    border: solid #efacb5 2px;
    border-radius: 25px;
}

.btn-primary{
    margin-top: 5%;
    width: 50%;
    font-family: Calling-Heart;
    background: none;
    border: solid #8cd6e8 2px;
    border-radius: 25px;
    font-size: 34px;
    color: white;
    text-shadow: black 1px 1px 3px;
    transition: ease-in-out 0.75s;
}

.btn-primary:hover{
    background-color: #8cd6e8;
    cursor: url(/assets/img/cursor/hover.png), auto;
}

@media (max-width: 800px){

    body{
      margin-left: 2%;
      margin-right: 4%;
    }
}