/*
Yellow - #fad725
Darker Pink - #efacb5
Blueish? - #8cd6e8
*/


/*HOME*/
.bodyblur{
    backdrop-filter: blur(2px);
  }
  
  .intro{
    text-align: center;
    margin: auto;
    width: 100%;
    display: block;
  }
  
  .intrologo{
    width: 500px;
    filter: drop-shadow(black 1px 1px 2px);
  }
  
  .introtext{
    color: white;
  }
  
  .intro h1{
    font-family: Calling-Heart;
    text-shadow: black 1px 1px 1px;
    font-size: 84px;
    color: white;
  }
  
  .paragraphs{
    margin-bottom: 200px;
  }
  
  .hexagon {
    margin: auto;
    height: 250px; /* adjust to control the size  */
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
    background-size: cover;
    background-position: center;
    margin: 2%;
    float: left;
    shape-outside: circle(50%);
  }
  
  .hextext{
    max-width: 90%;
    text-align: center;
    filter: drop-shadow(black 0px 0px 5px);
  }
  
  .hextext p{font-family: Crayon; font-size: 32px;color: white;}
  
  .andright{
    float: right;
    background-size: cover;
    background-position: center;
  }
  .collectible{
    width: 100%;
    margin-top: 50px;
    margin: auto;
    text-align: center;
    backdrop-filter: blur(2px);
  }
  
  .collectible h1{font-family: Calling-Heart; color: white; margin: 0px; font-size: 84px; filter: drop-shadow(black 0px 0px 5px)}
  .collectible p{font-family: Crayon; color: white; font-size: 50px; margin: 0px; filter: drop-shadow(black 0px 0px 5px);}
  
  .collectible img{
    width: 400px;
  }
  
  #small{
    font-size: 25px;
  }
  
  .hiring{
    margin: auto;
  }
  
  .hiring h1{font-family: Calling-Heart; color: white; margin: 0px; font-size: 84px; filter: drop-shadow(black 0px 0px 5px)}
  
  .hiringhex{
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  .hiring{
    margin: auto;
    text-align: center;
  }
  
  .contactbutton{
    text-align: center;
    margin: auto;
    width: 90%;
    font-family: Calling-Heart;
    background: none;
    border: solid #8cd6e8 2px;
    border-radius: 25px;
    font-size: 36px !important;
    color: white;
    text-shadow: black 1px 1px 3px;
    transition: ease-in-out 0.75s;
  }
  
  .contactbutton:hover{
    background-color: #8cd6e8;
    cursor: url(/assets/img/cursor/hover.png), auto;
  }


  @media (max-width: 800px){

    .headergap{
      margin-top: 55px;
    }
    
    .navheader{
      left: 0;
      button {display: block;}
      margin: auto;
      width: 100%;
        position: fixed;
      z-index: 999999;
      display: flex;
      justify-content: space-between;   
    }
    
    .navheader img{
      width: 20%  !important; 
      margin-top: auto; 
      margin-bottom: auto;
      margin-left: 25px;
    }
    
    .main-nav {
      z-index: 9999999999;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      text-align: center;
      background: #00000079;
      backdrop-filter: blur(5px);
      opacity: 0;
      z-index: -1;
      visibility: hidden;
      transform: translateY(-1000px);
      transition: ease-in-out 0.175s;
    }
    
    .main-nav.is-open {
      opacity: 1;
      z-index: 100;
      visibility: visible;
      text-align: center;
      width: 100%;
      transform: translateY(0px);
    }
    
    .main-nav ul {
      display: inline-flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
    
    .main-nav li {
      display: block;
      margin: .5rem 0;
      text-align: center;
      opacity: 0;
      transform: translateY(-250px);
      transition: ease-in-out 0.175s;
    }
    
    .main-nav.is-open li {
      opacity: 1;
      transform: translateY(0);
    }
    .main-nav li:nth-child(1) {
      transition-delay: 200ms;
    }
    .main-nav li:nth-child(2) {
      transition-delay: 300ms;
    }
    .main-nav li:nth-child(3) {
      transition-delay: 400ms;
    }
    .main-nav li:nth-child(4) {
      transition-delay: 500ms;
    }
    
    .main-nav ul,
    .main-nav li {
      list-style: none;
      padding: 0;
    }
    .main-nav a {
      display: block;
      padding: 12px 0;
      font-size: 2.4em;
      text-decoration: none;    
    }
  
  
    .open-main-nav {
      z-index: 1000;
      background: none;
      border: 0;
      margin-top: 25px;
      margin-right: 5px;
    }
    
    .open-main-nav:hover{
      cursor: pointer;
    }
    
    .open-main-nav:focus {
      outline: none;
    }
    .burger {
      position: relative;
      display: block;
      width: 28px;
      height: 4px;
      margin: 0 auto;
      background: #fad725;
      transition: all .275s;
    }
    
    #burger{
      width: 40px;
      height: 40px;
      filter: drop-shadow(black 1px 1px 2px);
      margin-right: 25px;
    }
    
    .burger:after,
    .burger:before {
      content: '';
      display: block;
      height: 100%;
      background: #fad725;
      transition: all .275s;
    }
    
    .burger:after {
      transform: translateY(-12px);
    }
    
    .burger:before {
      transform: translateY(-16px);
    }
    
    .is-open .burger {
      transform: skew(5deg) translateY(-8px) rotate(-45deg);
    }
    
    .is-open .burger:before {
      transform: translateY(0px) skew(-10deg) rotate(75deg);
    }
    
    .is-open .burger:after {
      transform: translateY(-12px) translateX(10px) skew(-20deg);
      opacity: 0;
    }

    /*HOME*/
.bodyblur{
    backdrop-filter: blur(2px);
}

.intro{
    text-align: center;
    margin: auto;
    width: 100%;
}

.intrologo{
    width: 275px;
    filter: drop-shadow(black 1px 1px 2px);
}

#cafe{
    margin: none;
    font-family: Crayon;
}

.introtext{
    color: white;
}

.introtext h1{
  font-family: Calling-Heart;
  text-shadow: black 1px 1px 1px;
  font-size: 60px;
  color: white;
}

.hexagon {
    margin: auto;
    height: 150px; /* adjust to control the size  */
    aspect-ratio: 1/cos(30deg);
    clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
    background: url(/assets/img/hex1.png);
    background-size: cover;
    background-position: center;
    margin: 2%;
    float: left;
    shape-outside: circle(50%);
}

.hextext{
    max-width: 90%;
    text-align: center;
    filter: drop-shadow(black 0px 0px 5px);
}

.hextext p{font-family: Crayon; font-size: 22px;color: white;}

.andright{
    float: right;
    background: url(/assets/img/oofie2.png);
    background-size: cover;
    background-position: center;
}
.collectible{
    margin: auto;
    text-align: center;
    backdrop-filter: blur(5px);
}

.collectible h1{color: white; margin: 0px;}
.collectible p{font-family: Crayon; color: white; font-size: 50px; margin: 0px; filter: drop-shadow(black 0px 0px 5px);}

.collectible img{
  margin: auto;
    width: 50%;
}

#small{
    font-size: 25px;
}

.hiring{
    margin: auto;
    h1{color: white;}
}

.hiringhex{
    background: url(/assets/img/alyssabees.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.hiring{
    margin: auto;
    text-align: center;
}

.contactbutton{
    text-align: center;
    margin: auto;
    width: 90%;
    font-family: Calling-Heart;
    background: none;
    border: solid #8cd6e8 2px;
    border-radius: 25px;
    font-size: 36px !important;
    color: white;
    text-shadow: black 1px 1px 3px;
    transition: ease-in-out 0.75s;
}

.contactbutton:hover{
    background-color: #8cd6e8;
    cursor: url(/assets/img/cursor/hover.png), auto;
}
  }
