.menutext h1{
	font-family: 'DancingScript-Variable';
  text-shadow: black 1px 1px 1px;
  font-size: 60px;
  color: white;
  text-align: center;
  margin-top: 5%;
}

/* Hexagons */
#hexGrid {
  overflow: hidden;
  width: 40%;
  margin: 0 auto;
  padding: 0.866% 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

#hexGrid:after {
  content: "";
  display: block;
  clear: both;
}


.hex {
  position: relative;
  list-style-type: none;
  float: left;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;  /* fix for jagged edges in FF on hover transition */
  transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}

.hex * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;  /* fix for jagged edges in FF on hover transition */
  cursor: url(/assets/img/cursor/hover.png) !important;
}

.hexIn {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
  overflow: hidden;
  transform: skewY(-30deg) rotate(60deg);   
  backdrop-filter: blur(2px);
}

.hexIn:hover{
  cursor: url(/assets/img/cursor/main.png), auto !important;

  
}

/*** HEX CONTENT **********************************************************************/

.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  background-color: #0000007a;
  transition: ease;
}

.hex img:hover{
  transform: scale(1.3);
}

/*** SPACING AND SIZING *****************************************************************/
  .hex {
    width: 49.5%;    /* = (100-1) / 2 */
    padding-bottom: 57.158%;    /* =  width / sin(60) */
  }
  .hex:nth-child(3n+1) {
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  .hex:nth-child(3n+2),
  .hex:nth-child(3n+3) {
    margin-top: -13.423%;
    margin-bottom: -13.423%;
  }
  .hex:nth-child(3n+1) {
    margin-left: 0.5%
  }
  .hex:nth-child(3n+3) {
    margin-left: 1%;
  }
  .hex:nth-child(3n+2),
  .hex:nth-child(3n+4) {
    clear: left;
  }


  #hexGrid {
    font-size: 13px;
  }

/*CARD*/
  .toggle-target[data-hideme="hidden"] {
    display: none;
    opacity: 0;
    transition-property: display opacity;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
  }
  
.toggle-target[data-hideme="showme"] {
    display: block;
    opacity: 1;
    transition-property: display opacity;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
    @starting-style{opacity: 0;}
  }

.menucards{
    margin: auto;
}

.actualmenucard{
  background-color: orange;
  background: url(/assets/img/hive.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  text-align: center;
  z-index: 999999;
  padding: 1%;
  color: white;
  width: 80%;
  height: 100%;
}

.actualmenucard p{
    text-shadow: black 1px 1px 1px;
    font-family: 'Kalam-Variable';
    font-size: 46px;
    color: white;
    margin-top: 305px;
}

.actualmenucard img{
    margin: 0px !important;
    z-index: -9999;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;

}

.actualmenucard h1{
    margin: 1px !important;
    font-family: 'DancingScript-Variable';
    animation: bounce 0.5s;
    text-shadow: black 1px 1px 1px;
    color: white;
    font-size: 60px;
}

.cardinside{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 100px;
  width: 35%;
}


.mobilebr{
  display: none;
}

.closebtn{
    background-color: #ffffff00;
    border: none;
    font-size: 24px;
    color: white;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: ease 0.275s;
    text-align: right;  
}
.closebtn:hover{
    cursor: pointer;
    filter: drop-shadow(black 0px 0px 2px);
}

@keyframes slide-up{
    0%{transform: translateY(80px); opacity: 0%;}
    100%{transform: translateY(0px); opacity: 100%;}
}

@keyframes fade-in{
    0%{transform: scale(0.1);}
    100%{transform: scale(1.5);}
}

@keyframes bounce {
    0%  {transform: translateX(-100%);} 
    100% {transform: translateX(0);} 
}

.toggle-button:hover{
cursor: url(/assets/img/cursor/hover.png), auto;
}
 
 
  @keyframes slide-up{
      0%{transform: translateY(80px); opacity: 0%;}
      100%{transform: translateY(0px); opacity: 100%;}
  }
  
  @keyframes fade-in{
      0%{transform: scale(0.1);}
      100%{transform: scale(1.5);}
  }
  
  @keyframes bounce {
      0%  {transform: translateX(-100%);} 
      100% {transform: translateX(0);} 
  }

.toggle-button:hover{
	cursor: url(/assets/img/cursor/hover.png), auto;
}


@media (max-width: 800px){
  body{
	  margin-left: 2%;
	  margin-right: 4%;
	}
  /*MENU*/
.menutext h1{
	font-family: 'DancingScript-Variable';
  text-shadow: black 1px 1px 1px;
  font-size: 60px;
  color: white;
  text-align: center;
  margin-top: 5%;
}

/* Hexagons */
#hexGrid {
  overflow: hidden;
  width: 98%;
  margin: 0 auto;
  padding: 0.866% 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

#hexGrid:after {
  content: "";
  display: block;
  clear: both;
}


.hex {
  position: relative;
  list-style-type: none;
  float: left;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;  /* fix for jagged edges in FF on hover transition */
  transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}

.hex * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;  /* fix for jagged edges in FF on hover transition */
  cursor: url(/assets/img/cursor/hover.png) !important;
}

.hexIn {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
  overflow: hidden;
  transform: skewY(-30deg) rotate(60deg);   
}

.hexIn:hover{
  cursor: url(/assets/img/cursor/main.png), auto !important;

  
}

/*** HEX CONTENT **********************************************************************/

.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  background-color: #0000007a;
  transition: ease;
}

.hex img:hover{
  transform: scale(1.3);
}

/*** SPACING AND SIZING *****************************************************************/
  .hex {
    width: 49.5%;    /* = (100-1) / 2 */
    padding-bottom: 57.158%;    /* =  width / sin(60) */
  }
  .hex:nth-child(3n+1) {
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
  .hex:nth-child(3n+2),
  .hex:nth-child(3n+3) {
    margin-top: -13.423%;
    margin-bottom: -13.423%;
  }
  .hex:nth-child(3n+1) {
    margin-left: 0.5%
  }
  .hex:nth-child(3n+3) {
    margin-left: 1%;
  }
  .hex:nth-child(3n+2),
  .hex:nth-child(3n+4) {
    clear: left;
  }


  #hexGrid {
    font-size: 13px;
  }

/*CARD*/
  .toggle-target[data-hideme="hidden"] {
    display: none;
    opacity: 0;
    transition-property: display opacity;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
  }
  
.toggle-target[data-hideme="showme"] {
    display: block;
    opacity: 1;
    transition-property: display opacity;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
    @starting-style{opacity: 0;}
  }

.actualmenucard{
width: 100%;
background-size:cover;
}

.actualmenucard img{
width: 300px;
top: 90px;

}

.cardinside{
margin-top: 80px;
width: 90%;
}

.cardinside p{
margin-top: 200px;
font-size: 32px;
}

.cardinside h1{
font-size: 48px;
}

.mobilebr{
display: block;
}
}