::-webkit-scrollbar {
	display: none;
	overflow: hidden;
  }

  html{
	cursor: url(/assets/img/cursor/main.png), auto;
  }

  @font-face {
    font-family: Crayon;
    src: url("/assets/fonts/Crayon.otf")  format("opentype");
}

@font-face {
    font-family: Calling-Heart;
    src: url("/assets/fonts/Calling\ Heart.ttf")  format("truetype");
}


body{
    margin: auto;
	background-color: #fad725;
	background-image: url(/assets/img/bg3.webp);
  
}

/*Bees*/

.beesbg{
	position: fixed;
	z-index: -99999;
}

#bug{
	position: fixed;
	left: 190px;
	top: 20px;
}
#bug2{
	position: fixed;
	left: 190px;
	top: 520px;
}
#bug3{
	position: fixed;
	left: 80px;
	top: 310px;
	transform:rotate(20deg) scaleX(-1) !important;
}

.bee {
	width:50px;
	height:50px;
	background:black;
	border-radius:50% 75% 0% 75%;
	background:linear-gradient(-50deg, black 15px, goldenrod 15px, goldenrod 25px, black 25px, black 40px, goldenrod 40px, goldenrod 50px, black 50px);
	box-shadow:inset 0 0 0 2px black, inset 5px -5px 5px 5px rgba(139,69,19,.5), -10px 20px 35px saddlebrown;  
	position:absolute;
	left:50%;
	top:50%;
	transform:rotate(-20deg);
  }
  .bee:before {
	content:'';
	width:35px;
	height:35px;
	border-radius:75% 50% 75% 25%;
	background:radial-gradient(circle at 10px 15px, black 3px, goldenrod 3px, goldenrod 20px, black);
	box-shadow:0 0 0 2px black; 
	position:absolute;
	left:-22px;
	top:-15px;
	transform:rotate(30deg);
  }
  .bee:after {
	content:'';
	width:30px;
	height:30px;
	position:absolute;
	left:-33px;
	top:-28px;
	border-radius:50%;
	z-index:-1;
	box-shadow:inset -2px 1px 0 black, 1px -2px 0 var(--bg-color), 3px -3px 0 black;
	animation:hair .33s linear infinite;
  }
  @keyframes hair {
	50% { transform:translateY(2px); }
  }
  
  .flip {
	/*   transition:.25s; */
	transform:rotate(20deg) scaleX(-1) !important;
  }
  
  .bee .wings {
	width:50px;
	height:50px;
	background:linear-gradient(to bottom left, black, transparent 50px);
	border-radius:50% 50% 50% 25%;
	position:absolute;
	left:25px;
	top:-25px;
	opacity:.5;
	transform-origin:left bottom;
	perspective:200px;
	animation:buzz .33s linear infinite;
  }
  @keyframes buzz {
	50% { transform: scale(.9) rotateY(90deg) rotateX(90deg); }
  }
  
  .bee .limbs {
	width:10px;
	height:10px;
	border-right:2px solid black;
	border-left:2px solid black;
	position:absolute;
	top:100%;
	left:25px;
  }
  .bee .limbs:before {
	content:'';
	width:100%;
	height:100%;
	border-right:2px solid black;
	border-left:2px solid black;
	position:absolute;
	top:-20px;
	left:-33px;
	transform:rotate(60deg);
  }

/*end beys*/

/*NAVIGATION*/

.headergap{
    margin-top: 100px;
}

#activepage{
    color: #fad725;
}

.navheader{
    z-index: 100;
}

.navheader img{width: 100px; margin-left: 25px;}

.navheader button{display: none;}

.desktopnav{
    top: 0;
    z-index: 10000;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
	font-family: Calling-Heart;

}

.main-nav{
    margin-right: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.main-nav ul{
    gap: 30px;
    list-style: none;
    display: flex;
    text-align: center;
}

.main-nav a{
    text-align: center;
    font-size: 2.4em;
    text-decoration: none;
    color: #8cd6e8;
    transition: 0.275s;
	filter: drop-shadow(black 1px 1px 2px);
}

.main-nav a:hover{
    color: #fad725;
}

/*MOBILE*/  
@media (max-width: 800px){
	/*NAVIGATION*/   

	.headergap{
		margin-top: 55px;
	}
	
	.navheader{
		right: 0;
		left: 0;
		margin: auto;
		width: 100%;
		position: fixed;
		z-index: 999999;
		display: flex;
		justify-content: space-between;   
	}

	.navheader button{
		display: block;
	}
	
	.navheader img{
	  width: 20%  !important; 
	  margin-top: auto; 
	  margin-bottom: auto;
	  margin-left: 25px;
	}
	
	.main-nav {
		z-index: 9999999999;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		text-align: center;
		background: #00000079;
		backdrop-filter: blur(5px);
		opacity: 0;
		z-index: -1;
		visibility: hidden;
		transform: translateY(-1000px);
		transition: ease-in-out 0.175s;
	}
	
	.main-nav.is-open {
		opacity: 1;
		z-index: 100;
		visibility: visible;
		text-align: center;
		width: 100%;
		transform: translateY(0px);
	}
	
	.main-nav ul {
		display: inline-flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}
	
	.main-nav li {
		display: block;
		margin: .5rem 0;
		text-align: center;
		opacity: 0;
		transform: translateY(-250px);
		transition: ease-in-out 0.175s;
	}
	
	.main-nav.is-open li {
		opacity: 1;
		transform: translateY(0);
	}
	.main-nav li:nth-child(1) {
		transition-delay: 200ms;
	}
	.main-nav li:nth-child(2) {
		transition-delay: 300ms;
	}
	.main-nav li:nth-child(3) {
		transition-delay: 400ms;
	}
	.main-nav li:nth-child(4) {
		transition-delay: 500ms;
	}
	
	.main-nav ul,
	.main-nav li {
		list-style: none;
		padding: 0;
	}
	.main-nav a {
		display: block;
		padding: 12px 0;
		font-size: 2.4em;
		text-decoration: none;    
	}


	.open-main-nav {
		z-index: 1000;
		background: none;
		border: 0;
		margin-top: 25px;
		margin-right: 5px;
	}
	
	.open-main-nav:hover{
		cursor: pointer;
	}
	
	.open-main-nav:focus {
		outline: none;
	}
	.burger {
	  position: relative;
		display: block;
		width: 28px;
		height: 4px;
		margin: 0 auto;
		background: #fad725;
		transition: all .275s;
	}
	
	#burger{
	  width: 40px;
	  height: 40px;
		filter: drop-shadow(black 1px 1px 2px);
	  margin-right: 25px;
	}
	
	.burger:after,
	.burger:before {
		content: '';
		display: block;
		height: 100%;
		background: #fad725;
		transition: all .275s;
	}
	
	.burger:after {
		transform: translateY(-12px);
	}
	
	.burger:before {
		transform: translateY(-16px);
	}
	
	.is-open .burger {
		transform: skew(5deg) translateY(-8px) rotate(-45deg);
	}
	
	.is-open .burger:before {
		transform: translateY(0px) skew(-10deg) rotate(75deg);
	}
	
	.is-open .burger:after {
		transform: translateY(-12px) translateX(10px) skew(-20deg);
		opacity: 0;
	}
}